extends layout
block js
    script(src="/lib/jquery-2.1.1.min.js")
    script(src="/lib/angular.min.js")
    script(src="/lib/angular-route.min.js")
    script(src="/s/home/index.js")
    script.
        dockerApp.run(function($rootScope){
            $rootScope.imageList=!{JSON.stringify(imageList)}
        })
block css
    link(rel="stylesheet",href="/lib/reset.css")
    link(rel="stylesheet",href="/s/home/home.css")
block body
    #containerApp(ng-app="dockerApp")
        div(ng-controller="homeCtrl as home")
            #nav
                a.create(href="/create") 创建虚拟机
                a.dashboard(href="/dashboard") 仪表盘
            #create
                h1 选择服务器
                .image-list
                    a(ng-repeat="(key,image) in imageList",type="{{key}}",href="/create/{{key}}")
                        b(ng-bind="image.title")
            div(ng-view)