h2 我需要一个的系统
    ul#iso-list
        li Ubuntu 14.04
        li Ubuntu 13.10
        li Ubuntu 12.10
        li Cent OS 7
        li Cent OS 6
h2 我需要启动一个服务
    ul#iso-list
        li NodeJS 10.29 (稳定版)
        li NodeJS 11.13
        li MySQL
        li MongoDB 2.6.1
        li Redis
        li Memoery
table(border="1")
    tr
        th 内部端口
        td 外部端口(4000~4999)
    tr
        th 22
        td 4000
    tr
        th 5056
        td 4001
    tr
        th 3000
        td 4002
